---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import LinkBtn from "../../components/ui/LinkBtn.astro";

export async function getStaticPaths() {
   const allBlog = await getCollection("blog");

   return allBlog.map((article) => ({
      params: {
         slug: article.data.slug,
      },
      props: {
         article,
      },
   }));
}

const { article } = Astro.props;
const { Content } = await render(article);
---

<Layout title={"Blog | " + article.data.slug}>
   <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 px-12 my-12">
      <div class="max-w-max h-full">
         <Image
            src={article.data.image}
            alt={article.data.name}
            class="w-full h-auto"
            loading={"eager"}
         />

         <p class="mt-5">{article.data.name}</p>
      </div>

      <div class="flex flex-col gap-4">
         <Content />

         <div class="w-fit">
            <LinkBtn
               linkTitle="zurück zum Blog"
               pathTitle="/webdesign-solutions/blog"
               variant="light"
            />
         </div>
      </div>
   </div>
</Layout>
