---
import Layout from "../layouts/Layout.astro";
---

<Layout title="page not found">
   <div
      class="w-full min-h-[70dvh] px-10 flex flex-col items-center justify-center gap-y-4"
   >
      <span class="text-4xl text-accent font-bold">404 Page</span>

      <a href="/webdesign-solutions">zurück zur Startseite</a>
   </div>
</Layout>
