---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import SectionOne from "../components/Home/SectionOne.astro";
import Services from "../components/Home/Services.astro";
import Showcase from "../components/Home/Showcase.astro";
import Testemonials from "../components/Home/Testimonials.astro";
import About from "../components/Home/About.astro";

import SelectedProjects from "../components/Home/SelectedProjects.astro";
import ContactSection from "../components/Home/ContactSection.astro";
---

<Layout title="Webdesign Solution">
	<main>
		<Hero />
		<SectionOne />
		<Services />
		<Showcase />
		<Testemonials />
		<About />
		<SelectedProjects />
		<ContactSection />

		<!-- <MotionTest client:load /> -->
	</main>
</Layout>
