---
import Layout from "../layouts/Layout.astro";

import Contact from "../components/ui/Contact.astro";
---

<Layout title="Kontakt aufnehmen">
   <div class="my-24">
      <Contact />
   </div>
</Layout>
