---
import Layout from "../layouts/Layout.astro";

import Contact from "../components/Home/Contact.astro";
---

<Layout title="Kontakt aufnehmen">
   <div class="mb-16">
      <Contact />
   </div>
</Layout>
