---
import Accordion from "../components/ui/Accordion";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projekte">
   <div class="w-full h-full mt-12 px-10">
      <h1 class="mb-14 text-center">Meine Leitsungen</h1>
      <p class="max-w-[920px] mx-auto text-center">
         Entdecken Sie unser umfassendes Leistungsspektrum – von innovativen
         Lösungen bis hin zu individuell abgestimmten Strategien. Wir setzen auf
         Qualität, Expertise und einen Service, der Ihre Erwartungen übertrifft.
         Gemeinsam bringen wir Ihre Projekte zum Erfolg.
      </p>

      <div
         class="cards grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-8 justify-between my-24"
      >
         <div
            class="card bg-black-light text-white p-8 rounded-2xl flex flex-col gap-4"
         >
            <div class="flex justify-between items-center">
               <svg
                  class="text-gray-dark hover:text-accent hidden md:block"
                  width="20.401842mm"
                  height="18.788019mm"
                  viewBox="0 0 20.401842 18.788019"
                  fill="currentColor"
                  stroke="currentColor"
                  version="1.1"
                  id="svg1"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <defs id="defs1"></defs>
                  <g id="layer1" transform="translate(-7.4593937,-6.6072563)">
                     <g id="g9">
                        <path
                           style="fill:currentColor;fill-opacity:0;stroke:currentColor;stroke-width:0.529168;stroke-linecap:round;stroke-dasharray:none"
                           d="M 7.8134764,20.976946 17.968046,25.108328 27.507189,20.976944 27.595109,10.911393 17.968048,6.8926837 7.7255584,10.911389 v 0 z"
                           id="path5"></path>
                        <path
                           style="fill:currentColor;fill-opacity:0;stroke:currentColor;stroke-width:0.529168;stroke-linecap:round;stroke-dasharray:none"
                           d="m 7.7255574,10.911389 10.2424886,3.530455 9.627062,-3.530451"
                           id="path6"></path>
                        <path
                           style="fill:currentColor;fill-opacity:0;stroke:currentColor;stroke-width:0.529168;stroke-linecap:round;stroke-dasharray:1.5875;stroke-dashoffset:0"
                           d="m 7.8134754,20.976945 10.1545706,-6.535101 9.539143,6.5351"
                           id="path7"></path>
                        <path
                           style="fill:currentColor;fill-opacity:0;stroke:currentColor;stroke-width:0.529168;stroke-linecap:round;stroke-dasharray:none"
                           d="M 17.968046,14.441844 V 25.108328"
                           id="path8"></path>
                     </g>
                  </g>
               </svg>
               <span>
                  <p class="text-8xl text-accent">01</p>
               </span>
            </div>

            <h2 class="font-bold !text-4xl !text-text-white">UI/UX-Design</h2>

            <p>
               Ich erstelle einzigartige Designs, die nicht nur visuell
               beeindrucken, sondern auch strategisch darauf ausgerichtet sind,
               Ihre Marke von der Konkurrenz abzuheben. Durch eine Kombination
               aus Kreativität, Präzision und einem tiefen Verständnis Ihrer
               Zielgruppe entwickle ich maßgeschneiderte Lösungen, die Ihre
               Identität unterstreichen und Ihre Marke unvergesslich machen.
            </p>
         </div>

         <div
            class="card bg-black-light text-white p-8 rounded-2xl flex flex-col gap-4"
         >
            <div class="flex justify-between items-center">
               <svg
                  class="text-gray-dark hover:text-accent hidden md:block"
                  width="70.113"
                  height="73.008"
                  viewBox="0 0 70.113 73.008"
                  fill="currentColor"
                  stroke="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g transform="matrix(1 0 0 1 1 1)">
                     <g>
                        <path
                           d="M32.6778 69.4239L65.3556 0L32.6778 22.7212L0 0L32.6778 69.4239Z"
                           fill="none"
                           stroke-width="2"
                           stroke="currentColor"
                           transform="translate(1.378 1.584)"></path>
                        <path
                           d="M0 0L68.1123 0L0 0Z"
                           fill="currentColor"
                           stroke-width="2"
                           stroke="currentColor"
                           stroke-linejoin="bevel"></path>
                     </g>
                  </g>
               </svg>
               <span>
                  <p class="text-8xl text-accent">02</p>
               </span>
            </div>

            <h2 class="font-bold !text-4xl !text-text-white">Redesign</h2>

            <p>
               Ich gestalte bestehende Designs neu, um Ihre Marke noch
               wirkungsvoller und einzigartiger zu präsentieren. Mit einem
               kreativen Ansatz und strategischem Fokus transformiere ich Ihre
               bestehende Identität in eine moderne, unverwechselbare und
               überzeugende visuelle Sprache. Mein Ziel ist es, Ihre Marke klar
               zu differenzieren und gleichzeitig eine stärkere Verbindung zu
               Ihrer Zielgruppe zu schaffen.
            </p>
         </div>

         <div
            class="card bg-black-light p-8 rounded-2xl flex flex-col gap-4 text-text-white"
         >
            <div class="flex justify-between items-center">
               <svg
                  class="text-gray-dark hover:text-accent hidden md:block"
                  width="73.992"
                  height="73.993"
                  viewBox="0 0 73.992 73.993"
                  fill="none"
                  stroke="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g transform="translate(1 1)">
                     <g>
                        <path
                           d="M0 36.2546L35.7385 0L71.9931 35.7384L36.2546 71.9931L0 36.2546Z"
                           stroke-width="2"
                           stroke-linejoin="bevel"
                           transform="translate(0 0)"></path>
                        <path
                           d="M36.2967 26.1304L0 13.3922L34.5242 0L70.8209 12.7382L36.2967 26.1304Z"
                           stroke-width="2"
                           stroke-linejoin="bevel"
                           transform="translate(0.663 23.516)"></path>
                        <path
                           d="M0.550816 0L0 23.5164L0.550816 0Z"
                           stroke-width="2"
                           stroke-linejoin="bevel"
                           transform="translate(35.188 0)"></path>
                        <path
                           d="M0.70546 0L0 22.3463L0.70546 0Z"
                           stroke-width="2"
                           stroke-linejoin="bevel"
                           transform="translate(36.255 49.647)"></path>
                     </g>
                  </g>
               </svg>
               <span>
                  <p class="text-8xl text-accent">03</p>
               </span>
            </div>

            <h2 class="font-bold !text-4xl !text-text-white">Entwicklung</h2>

            <p>
               Ich entwickle maßgeschneiderte Websites, die Funktionalität und
               Design perfekt verbinden. Mit modernsten Technologien wie
               Progressive Web Apps (PWA) und einem Fokus auf responsive
               Designs, optimierte Ladezeiten und barrierefreie Inhalte schaffe
               ich digitale Lösungen, die leistungsstark, innovativ und
               zukunftssicher sind. Mein nutzerzentrierter Ansatz ermöglicht es,
               Ihre Online-Präsenz auf höchstem Niveau zu optimieren und eine
               starke Verbindung zu Ihrer Zielgruppe aufzubauen, die nachhaltig
               beeindruckt.
            </p>
         </div>

         <div
            class="card bg-black-light text-white p-8 rounded-2xl flex flex-col gap-4"
         >
            <div class="flex justify-between items-center">
               <svg
                  class="text-gray-dark hover:text-accent hidden md:block"
                  width="72.816"
                  height="72.048"
                  viewBox="0 0 72.816 72.048"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
               >
                  <g transform="translate(1 1)">
                     <g>
                        <rect
                           width="70.817"
                           height="70.01"
                           fill-rule="evenodd"
                           stroke-width="2"
                           stroke-linecap="round"
                           transform="translate(0 0)"></rect>
                        <rect
                           width="29.507"
                           height="24.651"
                           fill-rule="evenodd"
                           stroke-width="2"
                           stroke-linecap="round"
                           transform="translate(22.13 21.946)"></rect>
                        <path
                           d="M0 0L22.1303 21.9458L0 0Z"
                           stroke-width="2"
                           stroke-linejoin="bevel"></path>
                        <path
                           d="M19.1796 0L0 21.9458L19.1796 0Z"
                           stroke-width="2"
                           stroke-linejoin="bevel"
                           transform="translate(51.637 0)"></path>
                        <path
                           d="M0 0L19.1193 23.451L0 0Z"
                           stroke-width="2"
                           stroke-linejoin="bevel"
                           transform="translate(51.637 46.597)"></path>
                        <path
                           d="M0 23.4129L22.1303 0L0 23.4129Z"
                           stroke-width="2"
                           stroke-linejoin="bevel"
                           transform="translate(0 46.597)"></path>
                     </g>
                  </g>
               </svg>
               <span>
                  <p class="text-8xl text-accent">04</p>
               </span>
            </div>

            <h2 class="font-bold !text-4xl !text-text-white">SEO</h2>

            <p>
               Ich optimiere Ihre Website, damit sie bei Suchmaschinen ganz oben
               steht und Ihre Zielgruppe mühelos erreicht. Mit effektiven
               Strategien zur Suchmaschinenoptimierung (SEO) verbessere ich die
               Sichtbarkeit Ihrer Inhalte durch Keyword-Analyse, strukturierte
               Daten und leistungsstarke Meta-Tags. Zusätzlich sorge ich für
               schnelle Ladezeiten, responsive Designs und eine klar
               strukturierte Benutzerführung – alles entscheidende Faktoren für
               Suchmaschinen-Rankings. Mein Ziel ist es, nachhaltigen Traffic zu
               generieren und Ihre Marke langfristig erfolgreich im digitalen
               Raum zu positionieren.
            </p>
         </div>

         <div
            class="card bg-black-light text-white p-8 rounded-2xl flex flex-col gap-4"
         >
            <div class="flex justify-between items-center">
               <svg
                  class="text-gray-dark hover:text-accent hidden md:block"
                  width="63.742"
                  height="73.127"
                  viewBox="0 0 63.742 73.127"
                  fill="none"
                  stroke="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g transform="translate(1.5 1.486)">
                     <g>
                        <path
                           d="M0 52.54L0.0637553 17.4765L30.4348 0L60.742 17.587L60.6782 52.6505L30.3072 70.127L0 52.54Z"
                           stroke-width="2"
                           stroke-linejoin="bevel"
                           transform="translate(0 0.014)"></path>
                        <path
                           d="M0 51.5374L30.3516 0L60.6785 51.5514L0 51.5374Z"
                           stroke-width="2"
                           stroke-linejoin="bevel"
                           transform="translate(0.002 0)"></path>
                     </g>
                  </g>
               </svg>
               <span>
                  <p class="text-8xl text-accent">05</p>
               </span>
            </div>

            <h2 class="font-bold !text-4xl !text-text-white">Online Shop</h2>

            <p>
               Ich entwickle leistungsstarke Online-Shops, die Ihre Produkte
               optimal präsentieren und Ihren Kunden ein reibungsloses
               Einkaufserlebnis bieten. Mit modernsten Technologien sorge ich
               für benutzerfreundliche Navigation, intuitive Kaufprozesse und
               schnelle Ladezeiten. Durch ansprechendes Design und gezielte
               Optimierung schaffe ich eine Plattform, die nicht nur Ihre Marke
               widerspiegelt, sondern auch Umsatzpotenziale maximiert. Mein Ziel
               ist es, Ihren Online-Shop effizient, skalierbar und
               zukunftssicher zu gestalten, sodass Sie Ihre Kunden begeistern
               und langfristig binden können.
            </p>
         </div>

         <div
            class="card bg-black-light text-white p-8 rounded-2xl flex flex-col gap-4"
         >
            <div class="flex justify-between items-center">
               <svg
                  class="text-gray-dark hover:text-accent hidden md:block"
                  width="48.945"
                  height="73.01"
                  viewBox="0 0 48.945 73.01"
                  fill="none"
                  stroke="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
               >
                  <g transform="translate(1 1)">
                     <g>
                        <g>
                           <rect
                              width="46.946"
                              height="71.01"
                              fill-rule="evenodd"
                              stroke-width="2"
                              stroke-linejoin="bevel"></rect>
                           <path
                              d="M46.6445 0C46.6445 0 26.8008 9.05127 0 0"
                              stroke-width="2"
                              stroke-linejoin="bevel"
                              transform="translate(0.301 15.018)"></path>
                           <path
                              d="M46.6445 0C46.6445 0 26.8008 9.05127 0 0"
                              stroke-width="2"
                              stroke-linejoin="bevel"
                              transform="translate(0.301 32.041)"></path>
                           <path
                              d="M46.6445 0C46.6445 0 26.8008 9.05127 0 0"
                              stroke-width="2"
                              stroke-linejoin="bevel"
                              transform="translate(0 49.064)"></path>
                        </g>
                     </g>
                  </g>
               </svg>
               <span>
                  <p class="text-8xl text-accent">06</p>
               </span>
            </div>

            <h2 class="font-bold !text-4xl !text-text-white">Datenbank</h2>

            <p>
               Ich entwickle effiziente und zuverlässige Datenbanklösungen, die
               speziell auf Ihre Anforderungen zugeschnitten sind. Mit einem
               Fokus auf Skalierbarkeit, Leistungsfähigkeit und Datensicherheit
               sorge ich dafür, dass Ihre Daten optimal organisiert, leicht
               zugänglich und sicher gespeichert sind. Von der Planung und
               Gestaltung bis hin zur Implementierung und Optimierung
               unterstütze ich Sie dabei, Datenbanken zu schaffen, die Ihre
               Geschäftsprozesse effizienter und erfolgreicher machen.
            </p>
         </div>
      </div>

      <div class="mb-28">
         <Accordion client:visible />
      </div>
   </div>
</Layout>

<style>
   span p {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
   }
</style>
