---
import Contact from "../ui/Contact.astro";
---

<section class="w-full h-full my-28">
   <div class="px-10 pt-10 flex justify-between items-center">
      <h3 class="">Schnell verbinden</h3>
      <p>2025</p>
   </div>

   <Contact />
</section>
