---

---

<div class="wrapper w-full my-28">
   <div class="carousell">
      <div class="left flex items-center gap-4">
         <div>
            <img
               class="w-3xs h-56 rounded-md"
               src="./MacBook_Mockup1.png"
               alt="img"
            />
         </div>
         <div>
            <img
               class="w-3xs h-56 rounded-md"
               src="./MacBook_Mockup1.png"
               alt="img"
            />
         </div>
         <div>
            <img
               class="w-3xs h-56 rounded-md"
               src="./MacBook_Mockup1.png"
               alt="img"
            />
         </div>
         <div>
            <img
               class="w-3xs h-56 rounded-md"
               src="./MacBook_Mockup1.png"
               alt="img"
            />
         </div>
         <div>
            <img
               class="w-3xs h-56 rounded-md"
               src="./MacBook_Mockup1.png"
               alt="img"
            />
         </div>
         <div>
            <img
               class="w-3xs h-56 rounded-md"
               src="./MacBook_Mockup1.png"
               alt="img"
            />
         </div>
      </div>
   </div>
</div>

<!-- <script>
   const images = document.querySelectorAll(".image");
   const wrapper = document.querySelector(".wrapper");
   const imagesAndChilds = [];

   const animationoptions = {
      duration: 600,
      easing: "ease-in-out",
      fill: "forwards",
   };

   let position = 0;

   wrapper.addEventListener(
      "wheel",
      ($event) => {
         $event.preventDefault();

         console.log($event.deltaY);
         if ($event.deltaY > 0) {
            position++;
         } else {
            position--;
         }
         imagesAndChilds.forEach((element, index) => {
            setTransfrom(element, baseRotation * (index + position));
         });
      },
      { passive: false },
   );

   images.forEach((parent) => {
      const child = parent.querySelector("img");
      imagesAndChilds.push({ parent, child });
   });

   const baseRotation = 360 / imagesAndChilds.length;

   imagesAndChilds.forEach((element, index) => {
      setTransfrom(element, baseRotation * index, true);
      animateImg(element.child, index !== 0);
   });

   function setTransfrom(element, deg, noAnimation = false) {
      if (noAnimation) {
         element.parent.style.transform = `rotate(${deg}deg)`;
      } else {
         element.parent.animate(
            {
               transform: `rotate(${deg}deg)`,
            },
            animationoptions,
         );
         animateImg(element.child, deg % 360);
      }
   }

   function animateImg(img, inactive) {
      if (inactive) {
         img.animate(
            {
               transform: `scale(0.7)`,
               opacity: 0.9,
            },
            animationoptions,
         );
      } else {
         img.animate(
            {
               transform: `scale(1)`,
               opacity: 1,
            },
            animationoptions,
         );
      }
   }
</script> -->

<!-- <style>
   .wrapper {
      cursor: grab;

      position: relative;
      width: 100%;
      aspect-ratio: 5/3;
      overflow: hidden;
      margin: 50px 0;
   }

   .image {
      position: absolute;
      z-index: 1;
      width: 100%;
      aspect-ratio: 5/3;
      display: grid;
      gap: 100px;
      place-items: center;
      transform-origin: 25% 300%;
      pointer-events: none;
   }

   .img {
      width: 33%;
      border-radius: 1rem;
      transition: all 250ms ease-in-out;
   }
</style> -->

<style>
   .carousell {
      margin: 0 auto;
      transform: perspective(700px);
      transform-style: preserve-3d;
      max-width: 100%;
      border: 2px solid black;
   }
   .left {
      transform: rotateY(90deg);
      align-items: center;
      display: flex;

      flex: none;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 240px;
      justify-content: space-between;
      overflow: visible;
      padding: 0;
      position: relative;
      transform-style: preserve-3d;
      width: 1400px;
   }
</style>
