---
import { twMerge } from "tailwind-merge";
import ArrowRight from "../../assets/icons/arrow-right.svg";

const { linkTitle, pathTitle, variant } = Astro.props;
---

<a
   class={twMerge(
      "inline-flex items-center gap-3 group  transition duration-500  text-white h-10 pl-[4px] pr-3 rounded-full overflow-hidden",
      variant === "accent"
         ? "bg-accent hover:black-light"
         : "hover:bg-accent bg-black-light",
   )}
   href={pathTitle}
>
   <!-- icon -->
   <div
      class="w-[32px] h-[32px] bg-white flex items-center justify-end rounded-full overflow-hidden"
   >
      <div
         class="group-hover:translate-x-[34px] flex gap-4 transition duration-500 mr-[7px] text-text-black"
      >
         <span><ArrowRight /></span>
         <span><ArrowRight /></span>
      </div>
   </div>

   <!-- text -->

   <div class="h-[24px]">
      <div class="group-hover:-translate-y-[40px] transition duration-500">
         <div class="flex justify-center items-center flex-col gap-4">
            <p class="text-base">{linkTitle}</p>
            <p class="text-base">{linkTitle}</p>
         </div>
      </div>
   </div>
</a>
