---

---

<h3
   class="bg-gray-dark flex items-center pl-1 pr-3 py-1 rounded-full !text-base w-fit"
>
   <span
      class="bg-accent rounded-full text-white size-8 flex items-center justify-center mr-3"
   >
      <slot name="icon" />
   </span>

   <slot />
</h3>
