---

---

<div
   class="bg-gray-dark p-5 flex flex-col border border-black border-dashed rounded-4xl sticky top-24"
>
   <div class="w-full h-full">
      <slot />
   </div>

   <div class="flex flex-col md:flex-row gap-y-5 justify-between mt-5">
      <div class="flex items-start space-x-5">
         <div class="flex space-x-1 mt-2">
            <span class="inline-flex size-3.5 rounded-full bg-accent"></span>
            <span class="inline-flex size-3.5 rounded-full bg-accent"></span>
            <span
               class="inline-flex size-3.5 rounded-full bg-gray-dark border border-black border-dashed"
            ></span>
            <span
               class="inline-flex size-3.5 rounded-full bg-gray-dark border border-black border-dashed"
            ></span>
            <span
               class="inline-flex size-3.5 rounded-full bg-gray-dark border border-black border-dashed"
            ></span>
         </div>
         <div class="flex flex-col">
            <p>Kristin Kohn</p>
            <p class="text-base">2025</p>
         </div>
      </div>

      <div class="flex s items-center space-x-3">
         <span class="bg-[#a7a7a722] text-text-black rounded-full px-3 py-1"
            >Photography</span
         >
         <span class="bg-black-light text-text-white rounded-full px-3 py-1"
            >Studo</span
         >
      </div>
   </div>
</div>
